{% extends "gqaMapper/layout.html" %} {% load static %} {% block body %} &nbsp;
<!-- <h1>Home</h1> -->
<div class="row">
  <div class="col-lg-12">
    <div class="row">
      <div class="col-lg">
        <span>
          <p style="font-size: 1.5em">
            Welcome to <strong>G-Quad Virus</strong>!
          </p>
          <hr style="border: none; border-bottom: 1px solid black;" />
          <p>The best place for performing analysis</p>
        </span>
      </div>
    </div>
  </div>
</div>

{% endblock %} {% block javascript %} {% endblock %}
