{% extends "gqaMapper/index.html" %} {% block body %} &nbsp;
<div class="row">
  <div class="col-lg">
    <h1 align="center">Search</h1>
    <hr style="border: none; border-bottom: 1px solid black;" />
  </div>
</div>
&nbsp;
<div class="row">
  <div class="col-md-12">
    &nbsp;
    <div class="tab-content" id="nav-tabContent">
      <div
        class="tab-pane fade show active"
        id="nav-1"
        role="tabpanel"
        aria-labelledby="nav-1-tab"
      >
        <form>
          <div class="form-group">
            <label for="exampleFormControlTextarea1"
              >Please input your sequence</label
            >
            <textarea
              class="form-control"
              id="exampleFormControlTextarea1"
              rows="15"
            ></textarea>
          </div>
          <button
            type="submit"
            class="btn badge-dark"
            style="width:20vw; float: right;"
          >
            Submit
          </button>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}
